.conteinerSelectors{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  min-width: 35%;
  height: 500px;
}

.search{
  grid-row-start: 1;
  justify-self: end;

}
.filters{
  grid-row-start: 5;
  justify-self: end;

}


/* .conteinerGalery{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
} */
.btns_pages{
  grid-row-start: 4;
  position: fixed;
  left: 20px;
  bottom: 4rem;
  width: 100%;
  z-index: 3
  
}