.navConteiner{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
}
.nav{
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
  color:darkgoldenrod
}
.nav1{
  /* grid-row-start: 1; */
  grid-column-start: 2;
  grid-column-end: 4;

}
.nav2{
  /* grid-row-start: 1; */
  grid-column-start: 4;
  grid-column-end: 6;

}
.nav:hover{
  font-size: larger;
}